// ------------------------- COLORS ---------------------------------------- //
$white: #FFF;
$light-gray: #F5F6F8;
$gray: #E1E6E9;
$medium-gray: #646F77;
$dark-gray: #2E3434;
$medium-orange: #FC6F36;
$light-orange: #F3A036;
$dark-orange: #E64D1B;
$blue: #13B2C1;
$green: #3DC28F;

// ------------------------- BOOTSTRAP ------------------------------------- //
